/* html */
html {scroll-behavior: smooth; -webkit-font-smoothing: antialiased;}

/* layout */
.lay-app, .lay-prl, .lay-txt {overflow-x: hidden; overflow-y: auto; resize: both;}

/* collapse */
.btn-collapse::after {content: "\25be"; color: #FFF; float:right; height: auto; top: -2px; margin-left: 5px;}
.btn-collapse[aria-expanded="true"]::after {content: "\25B4";}

/* base text *//* commentary *//* introduction */
*[data-type='base-text'], *[data-type='commentary'], *[data-type='introduction'] {font-size: 18px;}

/* introduction */
*[data-type='introduction'] {font-weight: 600;}

/* uvaca */
*[data-type='uvaca'] {margin-left: 5%;}
*[data-type='uvaca']>span::after {content: ">";}
*[data-type='uvaca']>span::before {content: "<";}

/* commentary entry */
*[data-type='gloss'] > *[data-type='term'] {font-weight: 700;}
.term-icon {color: #D5DF2A; font-size: 12px; vertical-align: super;}
.term-select {background-color: #D5DF2A;}
.term-inline {margin-left: -5px;}

/* quote */
*[data-type='quote'] {color: #ED4C75;}
*[data-type='quote']::before, *[data-type='quote']::after {content: '"';}

/* apparatus */
*[data-type='om-ins'] {font-style: italic;}

/* wit */
*[data-type="wit"][data-bs-toggle="popover"] {color:#008080;}
*[data-type="wit"][data-bs-toggle="popover"]:hover {color:#029b9b;}
